* {
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EBEBEB;
}
.pubu-container{
    width: 75%;
    margin: 0 auto;
    /*弹性布局 方向为水平显示*/
    display: flex;
    flex-direction: row;
}

.pubu-container .item{
    flex: 1;
    margin:20px;
}

.pubu-container .item img{
    width: 100%;
    border: 10px solid white;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;/*设置渐变效果*/
}

.pubu-container .item img:hover{
    transform: scale(1.07);  /*变大1.07倍*/
    cursor: pointer;
    box-shadow: 0 3px 2px 1px #999;

}