* {
    border: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
}
html, body {
    color: #666;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
.bac-img{
    width: 100%;
    height: 90%;
    background:url("images/47.jpg");
}

.header{
    width: 100%;
    height: 98px;
    background: linear-gradient(to right,#CCCCCC, #fff,#CCCCCC);
    opacity: 0.5;
    display:flex;
    justify-content:center;
    align-items:center;
}
.header .head{
    display: inline-block;
    width: 1200px;
    height:40px;
    margin: 0 auto;
    line-height: 60px;
}
.header .head .logo{
    float: left;
    margin-right: 50px;
}
.header .research {
    float: left;
    width: 240px;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
    background: #ABABAB;
    display:flex;
    justify-content:center;
    align-items:center;
}
.header .research input{
    outline: none;
}
.header .research .search_input{
    width: 175px;
    height: 20px;
    line-height: 20px;
    border: 0;
    border-radius: 2px 0 0 2px;
    color: black;
    font-size: 16px;
    background-color: transparent;
    margin: 0 0 0 10px;
}

.header .research  button{
    position: relative;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    outline: none;
}

.header .head .nav{
    float: right;
    line-height: 40px;
    font-size: 20px;
}
.header .head .nav a{
    margin-left: 30px;
    color: black;
}
.header .head .nav a:hover{
    color: #00bbee;
}
.header .head .nav .first{
    color: #00bbee;
}
.write1{
    width: 384px;
    float: left;
    margin-top: 120px;
    margin-left: 57px;

}
.write1 .one{
    text-indent: 2em;
    width: 100%;
    animation: move1 5.5s forwards;
    white-space:nowrap;
    overflow:hidden;
    color: transparent;
    margin-bottom: 7px;
    transition-timing-function: linear
}
.write1 .tow{
    animation: move2 5.5s forwards;
    white-space:nowrap;
    overflow:hidden;
    animation-delay:3s;
    color: transparent;
    margin-bottom: 7px;
    transition-timing-function: linear
}
.write1 .three{
    animation: move3 5.5s forwards;
    white-space:nowrap;
    overflow:hidden;
    animation-delay:6s;
    color: transparent;
    transition-timing-function: linear
}
@keyframes move1{
    from{
        color: transparent;
        width:0;
    }
    to{
        color: black;
        width:441px;
    }
}
@keyframes move2{
    from{
        color: transparent;
        width:0;
    }
    to{
        color: black;
        width:441px;
    }
}
@keyframes move3{
    from{
        color: transparent;
        width:0;
    }
    to{
        color: black;
        width:441px;
    }
}

.write2{
    width: 384px;
    float: left;
    margin-top: 255px;
    margin-left: -285px;
}
.write2 .one{
    text-indent: 2em;
    width: 100%;
    animation: move4 5.5s forwards;
    animation-delay:9s;
    white-space:nowrap;
    overflow:hidden;
    color: transparent;
    margin-bottom: 7px;
    transition-timing-function: linear
}
.write2 .tow{
    width: 100%;
    animation: move5 5.5s forwards;
    animation-delay:12s;
    white-space:nowrap;
    overflow:hidden;
    color: transparent;
    margin-bottom: 7px;
    transition-timing-function: linear
}
@keyframes move4{
    from{
        color: transparent;
        width:0;
    }
    to{
        color: black;
        width:660px;
    }
}
@keyframes move5 {
    from {
        color: transparent;
        width: 0;
    }
    to {
        color: black;
        width: 660px;
    }
}
.write3{
    width: 384px;
    float: left;
    margin-top: 355px;
    margin-left: -455px;
}
.write3 .one{
    width: 100%;
    animation: move6 5.5s forwards;
    animation-delay:15s;
    white-space:nowrap;
    overflow:hidden;
    color: transparent;
    margin-bottom: 7px;
    transition-timing-function: linear
}
@keyframes move6 {
    from {
        color: transparent;
        width: 0;
    }
    to {
        color: black;
        width: 660px;
    }
}

.log-in{
    float: right;
    width: 280px;
    height: 365px;
    position: relative;
    top: 65px;
    right: 330px;
    background-color: black;
    opacity: 0.5;
}
.log-in .one{
    width: 220px;
    margin: 25px auto 20px;
    color: white;
}
.log-in .one .left{
    font-size: 18px;

}
.log-in .one .right{
    float: right;
    font-size: 14px;
    position: relative;
    top: 4px;

}
.log-in .one .right a{
    color: white;
}
.log-in .input{
    width: 220px;
    margin: 0 auto;
}
.log-in .input input{
    width: 200px;
    height: 40px;
    padding: 0 10px;
    background: #FFF;
    border: 0;
    margin: 10px auto;
}
.log-in .input .code{
    width: 64px;
}
.log-in .input img{
    position: relative;
    top: 16px;
    left: 5px;
}
.log-in .input .look{
    font-size: 13px;
    margin-left: 7px;
    color: gray;
}
.log-in .free{
    width: 220px;
    margin: 10px auto 0;
    font-size: 13px;
}
.log-in .free a{
    color: white;
}
.log-in .free a:hover{
    color: #00bbee;
}
.log-in .free .right{
    float: right;
}
.log-in .button{
    width: 220px;
    margin: 8px auto;
}
.log-in .button input{
    width: 220px;
    height: 40px;
    font: 16px/40px "微软雅黑";
    background: #00aaee;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    border: 0 none;
}



.footer{
    width: 100%;
    height:10% ;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer .foot{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
}
.footer .foot p{
    margin-bottom: 7px;
}
.footer .foot p span{
    margin-right: 15px;
}
.footer .foot .gray{
    color: gray;
}