*{
	margin: 0;
	/*padding: 0px;*/
	list-style: none;
	text-decoration: none;
}
body{
	background-color:	#EDEDED;
}
.tit{
	width: 100%;
	background-color: #EEE0E5;
}
.title{
	width: 1300px;
	height: 30px;
/*	border: 1px solid black;*/
	margin: 0 auto;
	
}
.title li{
	padding: 10px;
	line-height: 10px;
	font-size: 15px;
}
.title .tit_left li{
	float: left;
}
.title .search{
	padding: 5px;
}
.title .search .search-box{
	position: relative;
	width: 170px;
	height: 22px;
}
.title .search form .btn{
	position: absolute;
	top:0;
	right:0;
	width: 38px;
	height: 25px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
}
.title .search form .btn button{
	border: none;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,#FFBBFF 0,	#FF83FA 100%);
	color: #fff;
	/*font-weight: 200px;*/
	font-size: 15px;
	cursor: pointer; 
}
.title .search form .search-inp{
	width: 160px;
	height: 22px;
	border:  1px solid 	#FFC1C1;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}
.title .search form .search-inp input{
	height: 19px;
    width: 155px;
    padding: 2px 3px;
    border: none;
    outline: 0;    /*取消输入边框*/
    text-indent: 10px; 
}
.title .tit_right li{
	float: right;
}
.title li a{
	color: 	#A9A9A9;
}
.title li a:hover{
	color: 	#EEAEEE;
}
.personal{
	width: 100%;
	height: 400px;
	margin: 20px auto;
	background-image: url(img/bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: black;
}
.personal .bg{
	width: 500px;
}
.personal .short{
	width: 1000px;
	padding:5px;
	float: left;
}
.personal .short .short_tit{
	margin: 8px 100px 0;
	float: left;
	height: 120px;
	font-size: 50px;
	color: 	#836FFF;
}
.personal .short .short_content{
	float: left;
	font-size: 20px;
	text-indent: 2em;
	color: #fff;
	margin: 0 100px 10px;
}
.catalog{
	width: 150px;
	position: fixed;
	top: 400px;
	bottom: 70px;
	padding: 2px;
	background-color: #EEE0E5;;
}
.catalog ul{
	padding: 0 0 0 20px;
}
.catalog .catalog-tit{
	padding: 10px 0 10px 0;
	font-size: 28px;
}
.catalog li{
	font-size: 17px;
}
.catalog li a{
	color: #6A5ACD;
}
.catalog li a:hover{
	/*text-decoration: underline;*/
	color: 	#FFA500;
}
.content{
	width: 1200px;
	/*height: 1000px;*/
	margin: 0 auto;
	/*border: 1px solid black;*/
	background-color:#fff;
}
.content{
	padding: 10px;
}
.content .ti{
	font-size: 25px;
	color: 	#4169E1;
	margin: 10px 10px 10px 0;
}
.content .content1{
	text-indent: 2em;
	float: left;
}
.content .content1 .float-left{
	float:left;
}
.content .content1 .float-right{
	float: right;
	width: 160px;
}
.production .tit2{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	
}
.production .tv img{
	float: left;
	width: 64px;
}
.production .tv .tv-left{
	margin-left: 70px;
}
.production .tv ul{
	margin-bottom: 10px;
}
.production .tv li{
	display: inline-block;
	margin-left: 50px;
}
.production .tv .right{
	float: right;
	margin-right: 200px;

}
.production .tv .tv-left a{
	color: 	#436EEE;
}
.production .tv .tv-left a:hover{
	text-decoration: underline;
}

.footer{
	width: 100%;
	height:10% ;
	background-color: black;
	display:flex;
	justify-content:center;
	align-items:center;
}
.footer .foot{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
}
.footer .foot p{
	margin-bottom: 7px;
}
.footer .foot p span{
	margin-right: 15px;
}
.footer .foot .gray{
	margin-top: 5px;
	color: gray;
}