.prot-title{
    font-family: Mae,fantasy;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.prot-picture{
    width: 40%;
    height: 60%;
    position: relative;
    margin:50px auto;
    padding: 20px;
    box-shadow: black 1px 2px 5px 2px;
    overflow: hidden;
}
.prot-picture img{
    width: 100%;
    height: 100%;
}
.prot-picture .pic-contain{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(161, 157, 126, 0.7);
    transition: all ease-in-out 0.2s;
}
.prot-picture .pic-title{
    font-family: Mae,fantasy;
    text-decoration: underline;
    font-size: 20px;
    color: white;
    position: absolute;
    top: -45px;
    left: 207px;
    text-align: center;
    transition: all ease-in-out 0.2s;
}
.prot-picture .pic-title hr{
    width: 285px;
    height: 5px;
    background-color: white;
    border: none;
    position: absolute;
    top: 36px;
    left: -35px;
}
.prot-picture .pic-text{
    font-size: 19px;
    font-family: Mae, fantasy;
    color: white;
    position: absolute;
    left: 30px;
    bottom: -22px;
    transition: all ease-in-out 0.2s;
}
.prot-picture:hover .pic-contain{
    display: block;
}
.prot-picture:hover .pic-title{
    transform: translateY(155px);
}
.prot-picture:hover .pic-text{
    transform: translateY(-185px);
}